
<div id="healthDetection">
    <div class="health_top_w">
        <p>健康检测数据实时监控</p>
        <input type="button" value="添加设备">
        <input type="button" value="选择设备">
    </div>
    <div class="health_body_w1">
        <p>会员信息</p>
        <input id="healthsearch" type="text" placeholder="请输入用户名">
        <input id="healthsearchbtn" type="button" value="搜索">
    </div>
    <div class="health_body_w2">
        <div><span>姓名：</span><span class="custom_name_w">Patrick</span><span>年龄：</span><span class="custom_age_w">28</span></div>
        <div><span>性别：</span><span class="custom_sex_w">男</span><span>详细信息：</span><span class="custom_info_w">xxxxxxxx</span></div>
        <div><span>手机号：</span><span class="custom_tel_w">13820689425</span></div>
    </div>
    <div class="health_body_w3 clearfix">
        <p><span>注：本功能提供实时查看北斗网关健康检测设备的数据（浏览器版本需要IE9以上）</span><span>检测报告</span><span>离线</span></p>
        <div class="humanbody_health">
            <div class="body_left"></div>
            <div class="body_right">
                <div></div>
                <div></div>
                <div></div>
                <div><div></div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="data_health">
            <ul>
                <li>
                    <div></div>
                    <p>血压：<span>80</span><span>（正常）</span></p>
                    <p>血糖：<span>80</span><span>（正常）</span></p>
                </li>
                <li>
                    <div></div>
                    <p>脉搏：<span>80</span><span>（正常）</span></p>
                    <p>心电：<span>80</span><span>（正常）</span></p>
                </li>
                <li>
                    <div></div>
                    <p>脂肪：<span>80</span><span>（正常）</span></p>
                </li>
                <li>
                    <div></div>
                    <p>BMI：<span>80</span><span>（正常）</span></p>
                </li>
                <li>
                    <div></div>
                    <p>体温：<span>80</span><span>（正常）</span></p>
                </li>
                <li>
                    <div></div>
                    <p>腰臀比：<span>80</span><span>（正常）</span></p>
                </li>
                <li>
                    <div></div>
                    <p>尿素：<span>80</span><span>（正常）</span></p>
                </li>
                <li>
                    <div></div>
                    <p>胆固醇：<span>80</span><span>（正常）</span></p>
                </li>
            </ul>
        </div>
    </div>
</div>